@use 'bulma/sass/utilities';
@forward 'bulma/sass/base';
@forward 'bulma/sass/elements';
// @forward "bulma/sass/form"
// @forward 'bulma/sass/components';
@forward 'bulma/sass/components/card';
@forward 'bulma/sass/components/navbar';
// @forward "bulma/sass/grid"
@forward 'bulma/sass/helpers';
@forward 'bulma/sass/layout';
@forward 'bulma/sass/themes';
@import '@zumer/orbit/dist/orbit.css';

.dashboard {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 10rem 1fr;
  grid-template-areas:
    'dial total'
    'items items';
  gap: 1em;
}

.dial {
  grid-area: dial;
}

.dial o-progress {
  --o-fill: var(--bulma-primary);
}

.dial .satellite {
  border-color: transparent;
  font-size: 3rem;
  font-weight: bold;
  color: var(--bulma-primary);
}

.total {
  grid-area: total;
}

.items {
  grid-area: items;
}
